<section class="menubar">
  <img src="../../../assets/img/logo.png" alt="Logo" class="menubar__logo" />
  <nav class="menubar__navigation">
    <ul class="menubar__navigation-list">
      <li class="menubar__navigation-list__item">Home</li>
      <li class="menubar__navigation-list__item">Collections</li>
      <li class="menubar__navigation-list__item">
        <button class="menubar__navigation-list__item--button">
          Submit a photo
        </button>
      </li>
      <li class="menubar__navigation-list__item--notifications"></li>
    </ul>
  </nav>
</section>
